{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="color: rgba(29, 29, 60, 0.714);"><b>Watchlist:</b></h2>

    <div class="row">
        {% for listing in listings %}        
            <div class="card" style="width: 15rem;">
                <a href="{% url 'listing' id=listing.id %}" >
                    <img class="card-img-top" src="{{ listing.image}}" alt="photo of {{ listing.title }}">
                </a>
                <div class="card-body">
                    <a href="{% url 'listing' id=listing.id %}" style="color:black">
                        <h4 class="card-title">{{ listing.title }}</h4>
                    </a>
                    <p style="font-size: 13px;">Category: <b>{{ listing.category }}</b></p>
                    <a href="{% url 'listing' id=listing.id %}" style="color:black">
                        <p class="card-text">{{ listing.description }}</p>
                    </a>
                    <h4>price: {{ listing.price }}$</h4>
                    <p>Owner: {{ listing.owner }}</p>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">More details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}